.container
    ul.breadcrumbs
        li
            a(href="/") Главная /
        li.active Каталог
    h1 Акции
    .sale__list
        .sale__item
            a(href="/sale-detail.html")
            img(src="/static/images/general/sale-img.png", alt="")
            .sale__item-info
                p Скидка -50% до конца года Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                p.date-sale 22.04.2020
                .read-more_sale
                    a.btn.btn-sale(href="/sale-detail.html") Подробнее
        .sale__item
            a(href="/sale-detail.html")
            img(src="/static/images/general/sale-img.png", alt="")
            .sale__item-info
                p Скидка -50% до конца года
                p.date-sale 22.04.2020
                .read-more_sale
                    a.btn.btn-sale(href="/sale-detail.html") Подробнее
        .sale__item
            a(href="/sale-detail.html")
            img(src="/static/images/general/sale-img.png", alt="")
            .sale__item-info
                p Скидка -50% до конца года
                p.date-sale 22.04.2020
                .read-more_sale
                    a.btn.btn-sale(href="/sale-detail.html") Подробнее
        .sale__item
            a(href="/sale-detail.html")
            img(src="/static/images/general/sale-img.png", alt="")
            .sale__item-info
                p Скидка -50% до конца года
                p.date-sale 22.04.2020
                .read-more_sale
                    a.btn.btn-sale(href="/sale-detail.html") Подробнее
        .sale__item
            a(href="/sale-detail.html")
            img(src="/static/images/general/sale-img.png", alt="")
            .sale__item-info
                p Скидка -50% до конца года
                p.date-sale 22.04.2020
                .read-more_sale
                    a.btn.btn-sale(href="/sale-detail.html") Подробнее
        .sale__item
            a(href="/sale-detail.html")
            img(src="/static/images/general/sale-img.png", alt="")
            .sale__item-info
                p Скидка -50% до конца года
                p.date-sale 22.04.2020
                .read-more_sale
                    a.btn.btn-sale(href="/sale-detail.html") Подробнее