.container-page
    ul.breadcrumbs
        li
            a(href="/") Главная /
        li
            a(href="/catalog.html") Акции /
        li.active Скидка пенсионерам до конца лета
    .sale-content
        .sale-info
            h1 Скидка пенсионерам до конца лета
            .sale-description
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tortor quis quam tristique suspendisse. Consectetur amet nec lacinia tempus id. 
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tortor quis quam tristique suspendisse. Consectetur amet nec lacinia tempus id. 
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tortor quis quam tristique suspendisse. Consectetur amet nec lacinia 
            img(src="/static/images/general/sale-img.png", alt="")
        .sidebar-right
            .deadlines-sale
                img(src="/static/images/general/info.png", alt="")
                p Сроки проведения акции до 30 мая!
            .conditions-sale
                h3 Условия:
                ul.conditions
                    li Заказ должен быть оформлен на сайте либо в самом магазине
                    li Заказ должен быть оформлен на сайте либо в самом магазине
                    li Заказ должен быть оформлен на сайте либо в самом магазине
                    li Заказ должен быть оформлен на сайте либо в самом магазине
            .contacts-sidebar
                h3 Узнать все подробности
                .phone-sidebar
                    img(src="/static/images/general/phone-sidebar.png")
                    a(href="tel:+79503333333") +7 (950) 333-33-33
        
    