.container-page
    .page-404
        img(src="/static/images/general/logo.svg", alt="Усадьба")
        p.page-404__title 404
        p.page-404__subtitle Страница не найдена
        a.btn(href="#" onclick="history.back();") Вернуться назад


            