//-----------------------Главный экран-------------------------
.hero {
    height: 100vh;
}

.hero__video {
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 100%;
    object-fit: cover;
    }

.hero__content {
    position: relative;
    z-index: 99;
    height: 100%;
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-flow: column;
}

.hero__content h1 {
    font-weight: bold;
    font-size: 200px;
    text-transform: uppercase;
    color: #fff;
    line-height: 100%;
    margin: 0;
}

.hero__content h2 {
    color: #fff;
    margin-bottom: 100px;
}

.scroll-wrap {
    position: relative;
    z-index: 999;
    margin: -120px auto 20px auto;
    display: block;
    width: 28px;
    cursor: pointer;
}
  
  .mouse {
    width: 28px;
    height: 50px;
    border: 2px solid white;
    border-radius: 14px;
}
  
  .scroller {
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background: white;
    position: relative;
    top: 15px;
    left: 10px;
    -webkit-animation: scrolls 1s ease-out infinite;
    /* Chrome, Safari, Opera */
}
  
@-webkit-keyframes scrolls {
    0% {
        top: 18px;
        opacity: 1;
        height: 4px; }
    95% {
        top: 5px;
        opacity: 0;
        height: 8px; }
    100% {
        top: 18px;
        opacity: 1;
        height: 4px; }
}


@media screen and (max-width: 1680px) {
    .hero__content h1 {
        font-size: 152px;
    }

    .hero__content h2 {
        margin-bottom: 75px;
        font-size: 38px;
    }
}

@media screen and (max-width: 1440px) {
    .hero__content h1 {
        font-size: 98px;
    }

    .hero__content h2 {
        margin-bottom: 60px;
        font-size: 26px;
    }
}

@media screen and (max-width: 1280px) {

    .hero {
        height: auto;
    }

    .hero__content {
        padding: 30% 0 25% 0;
    }

    .hero__content h1 {
        font-size: 142px;
    }

    .hero__content h2 {
        margin: 60px 0 90px 0;
        font-size: 36px;
    }
}


@media screen and (max-width: 992px) {

    .hero__content h1 {
        font-size: 92px;
    }

    .hero__content h2 {
        margin: 30px 0 60px 0;
        font-size: 26px;
    }

}

@media screen and (max-width: 768px) {

    .hero {
        height: 100vh;
    }

    .hero__content {
        padding: 25% 0 25% 0;
    }

    .hero__content h1 {
        font-size: 76px;
    }

    .hero__content h2 {
        font-size: 21px;
    }

}

@media screen and (max-width: 576px) {

    .hero__content h1 {
        font-size: 62px;
    }

    .hero__content h2 {
        font-size: 18px;
    }

}

@media screen and (max-width: 375px) {
    .hero__content h1 {
        font-size: 52px;
    }
}

//-----------------------АКЦИЯ НА ГЛАВНОЙ-------------------------

.sale-home {
    padding: 80px 0;
}

.sale-block {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    border: 10px solid $green;
    margin: 0 20%;
    padding: 40px 120px;
}

.sale-block h2 {
    width: 100%;
    font-weight: bold;
    font-size: 32px;
    line-height: 125%;
    text-transform: uppercase;
    text-align: center;
}

.sale-block img {
    width: 100%;
    max-width: 620px;
    position: absolute;
    left: 10%;
    bottom: -20%;
}

.sale-block__timer {
    margin: 50px 0;
    width: 50%;
    text-align: center;
}

p.timer-title {
    font-weight: 500;
    font-size: 26px;
    text-transform: uppercase;
}

#timer {
    margin: 40px 0 50px 0;
    display: flex;
    justify-content: center;
}

#days, #hours, #minutes, #seconds {
    font-weight: 500;
    font-size: 26px;
}

.timer-item {
    margin: 0 15px;
}

.timer-item p {
    font-size: 14px;
    margin-top: 10px;
}


@media screen and (max-width: 1680px) {

    .sale-block h2 {
        font-size: 26px;
    }

    p.timer-title {
        font-size: 21px;
    }

    #timer {
        margin: 20px 0 35px 0;
    }

    #days, #hours, #minutes, #seconds {
        font-size: 18px;
    }

    .timer-item p {
        margin-top: 5px;
    }

    .sale-block img {
        max-width: 520px;
        left: 18%;
        bottom: -16%;
    }

}

@media screen and (max-width: 1536px) {

    .timer-item {
        margin: 0 10px;
    }

    .sale-block img {
        max-width: 520px;
        left: 12%;
        bottom: -16%;
    }

}

@media screen and (max-width: 1440px) {

    .sale-block {
        margin: 0 16%;
    }

}

@media screen and (max-width: 1280px) {

    .sale-block img {
        max-width: 460px;
        left: 10%;
        bottom: -15%;
    }

    .sale-block__timer {
        width: 60%;
    }

}

@media screen and (max-width: 1200px) {

    .sale-block {
        margin: 0 10%;
    }

    .sale-block h2 {
        font-size: 21px;
        letter-spacing: 1px;
    }

    .sale-block__timer {
        width: 50%;
    }

    p.timer-title {
        font-size: 18px;
    }

    .sale-block img {
        left: 7%;
        bottom: -10%;
    }

}

@media screen and (max-width: 992px) {

    .sale-block {
        padding: 40px 50px;
    }

    .sale-block__timer {
        margin: 25px 0 20px 0;
    }

    .sale-block img {
        left: 8%;
        bottom: -10%;
        max-width: 360px;
    }

}

@media screen and (max-width: 768px) {

    .sale-block {
        padding: 40px 20px;
        margin: 0 3%;
    }

    .sale-block h2 {
        font-size: 16px;
    }

    p.timer-title {
        font-size: 14px;
    }

    #days, #hours, #minutes, #seconds {
        font-size: 16px;
    }

    .timer-item p {
        font-size: 12px;
    }

    .sale-block__timer a.btn {
        font-size: 14px;
    }

    .sale-block img {
        left: -10%;
        bottom: -15%;
        max-width: 420px;
    }

}

@media screen and (max-width: 576px) {

    .sale-block__timer {
        width: 100%;
    }

    .sale-block img {
        left: -12%;
        bottom: -15%;
        max-width: 200px;
    }

}

@media screen and (max-width: 375px) {

    .sale-block img {
        left: -25%;
    }

}



//-----------------------ТАБЫ С ТОВАРАМИ НА ГЛАВНОЙ-------------------------

.offers {
    padding: 80px 0 0 0;
}

ul.tab__list {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

ul.tab__list li{
    font-weight: 500;
    font-size: 22px;
    color: $dark;
    margin-right: 25px;
    cursor: pointer;
}

li.tab__list-item_active {
    margin-bottom: -8px;
    padding-bottom: 5px;
    border-bottom: 3px solid $green-btn;
}

.tab__content-item {
    height: 0px;
    overflow: hidden;  
}

.tab__content-item_active {
    height: auto;  
}


.nav-offers {
    top: 0;
    display: none;
}

.nav-offers__active {
    display: block;
}

img.next-offer {
    margin-left: 40px !important;
}

.offer__container {
    position: relative;
}


.catalog__list_offers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 -10px;
}

.offer__item {
    width: 25%;
    box-shadow: 5px 0px 10px rgba(16, 34, 9, 0.06) !important;
    transition: .3s;
}

.catalog__list_offers .slick-list {
    padding: 40px 0;
}


.catalog__list_offers .slick-slide {
    margin: 0 10px;
}

@media screen and (max-width: 1632px) {
    .nav-offers {
        right: 30px !important;
    }
}

@media screen and (max-width: 1200px) {

    .offer__item .catalog__item-info {
        margin: 20px;
        margin-top: -20px;
        margin-bottom: 20px;
    }
}



@media screen and (max-width: 670px) {

    .catalog__list_offers .slick-list {
        padding: 20px 0 0 0;
    }

    .offer__item {
        margin-bottom: 30px !important;
    }
    
    .offer__item .catalog__item-info {
        margin: 40px;
        margin-top: -50px;
        margin-bottom: 7%;
    }

    .offer__item .catalog__item-title h3 {
        font-size: 21px;
    }

    .offer__item .catalog__item-subtitle p {
        font-size: 18px;
    }

    .offer__item .catalog__item-price {
        padding: 20px 50px 0 50px;
    }

    .offer__item .actual-price p {
        font-size: 18px !important;
    }

    .offer__item .actual-price p span {
        font-size: 21px !important;
    }

    .offer__item .old-price p {
        font-size: 18px !important;
    }

    .offer__item .catalog__item-order {
        padding: 20px 40px !important;
    }

    .offer__item a.btn-catalog {
        font-size: 16px !important;
    }

    .offer__item a.btn-order {
        font-size: 16px !important;
    }

}


@media screen and (max-width: 620px) {
    .nav-offers {
        display: none;
    }    
}


@media screen and (max-width: 576px) {

    .offers {
        padding: 30px 0;
    }

    ul.tab__list li {
        font-size: 16px;
        margin-right: 15px;
    }

    .offer__item .catalog__item-price {
        padding: 0;
    }

    .offer__item .catalog__item-title h3 {
        font-size: 18px;
    }

    .offer__item .catalog__item-subtitle p {
        font-size: 16px;
    }

    .offer__item .catalog__item-order {
        padding: 0 !important;
    }

    .catalog__item-price {
        margin: 5px 0 0 0;
    }

    .offer__item a.btn-order {
        padding: 10px 18px;
    }

}

@media screen and (max-width: 440px) {

    .offer__item .catalog__item-info {
        margin: -50px 20px 7% 20px;
    }

    .offer__item .actual-price p {
        font-size: 14px !important;
    }

    .offer__item .actual-price p span {
        font-size: 18px !important;
    }

    .offer__item .old-price p {
        font-size: 14px !important;
    }

}


@media screen and (max-width: 340px) {

    .offer__item a.btn-catalog {
        font-size: 14px !important;
    }

    .offer__item a.btn-order {
        font-size: 14px !important;
        padding: 10px 18px;
    }

}



//-----------------------КАТЕГОРИИ НА ГЛАВНОЙ-------------------------

.category-home h2 {
    text-align: center;
}

.category__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.category__item {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    border-radius: 20px;
    transition: .3s;
}

.category__item:hover {
    box-shadow: 0px 5px 20px rgba(16, 34, 9, 0.3);
}

.category__item_big {
    background: url(/static/images/general/category-bg.png) right -50px top 0 no-repeat;
    background-color: #E7E9E7;
    width: 49%; 
    padding: 50px 50px 350px 50px;
}

.category__item_big:hover {
    background: url(/static/images/general/category-bg.png) right 0 top 0 no-repeat;
}

.category__item_small {
    width: 32%;
    padding: 50px 50px 220px 50px;
    background: url(/static/images/general/category-bg.png) right -150px top 0 no-repeat;
    background-color: #E7E9E7;
    transition: .3s;
}

.category__item_small:hover {
    background: url(/static/images/general/category-bg.png) right -100px top 0 no-repeat;
    transition: .3s;
}


.category__item img {
    position: absolute;
    right: -10%;
    bottom: -10%;
    width: 60%;
}

.category__item h3 {
    position: relative;
    z-index: 9;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 28px;
    color: $dark;
    margin: 0;
    transition: .3s;
}

.category__item_small h3{
    font-size: 24px;
}

.category__item a {
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

a.read-more_category {
    position: absolute;
    top: auto;
    bottom: 50px;
    left: 50px;
    height: 20px;
    width: auto;
    font-size: 18px;
    font-weight: 500;
    opacity: 0;
    transition: .3s;
}

.read-more_category::after {
    left: 115%;
}

.read-more_category:hover::after {
    left: 125%;
}

.category__item:hover h3 {
    color: $green;
}

.category__item:hover a.read-more_category {
    opacity: 1;
}


@media screen and (max-width: 1600px) {

    .category__item_big {
        background: url(/static/images/general/category-bg.png) right -100px top 0 no-repeat;
        background-color: #E7E9E7;
    }

    .category__item_big:hover {
        background: url(/static/images/general/category-bg.png) right -50px top 0 no-repeat;
    }

    .category__item_small {
        background: url(/static/images/general/category-bg.png) right -175px top 0 no-repeat;
        background-color: #E7E9E7;
    }
    
    .category__item_small:hover {
        background: url(/static/images/general/category-bg.png) right -125px top 0 no-repeat;
    }

}

@media screen and (max-width: 1200px) {

    .category__item_big {
        padding: 30px 30px 250px 30px;
    }

    .category__item_big h3 {
        font-size: 24px;
    }

    .category__item_small {
        background: url(/static/images/general/category-bg.png) right -200px top 0 no-repeat;
        background-color: #E7E9E7;
        padding: 30px 30px 150px 30px;
    }

    .category__item_small:hover {
        background: url(/static/images/general/category-bg.png) right -150px top 0 no-repeat;
    }


    .category__item_small h3 {
        font-size: 18px;
    }

    a.read-more_category {
        bottom: 30px;
        left: 30px;
    }

}

@media screen and (max-width: 992px) {

    .category__item_big {
        background: url(/static/images/general/category-bg.png) right -200px top 0 no-repeat;
        background-color: #E7E9E7;
    }

    .category__item_big:hover {
        background: url(/static/images/general/category-bg.png) right -150px top 0 no-repeat;
    }

    .category__item_small {
        background: url(/static/images/general/category-bg.png) right -220px top 0 no-repeat;
        background-color: #E7E9E7;
    }

    .category__item_small:hover {
        background: url(/static/images/general/category-bg.png) right -200px top 0 no-repeat;
    }

    a.read-more_category {
        font-size: 14px;
    }

    .read-more::after {
        background-size: 21px;
    }

}

@media screen and (max-width: 768px) {

    .category__item {
        background: url(/static/images/general/category-bg.png) right -150px top 0 no-repeat;
        background-color: #E7E9E7;
        width: 48%;
        padding: 30px 30px 150px 30px;
    }

    .category__item:hover {
        background: url(/static/images/general/category-bg.png) right -80px top 0 no-repeat;
    }

    .category__item h3 {
        font-size: 21px;
    }

}

@media screen and (max-width: 576px) {

    .category__item {
        width: 100%;
        padding: 30px 30px 200px 30px;
    }

    .category__item img {
        width: 75%;
    }

}

//-----------------------АКЦИИ-------------------------

.sales-home {
    padding: 60px 0 40px 0
}

.sales-home h2 {
    margin: 0;
}

.sales__container {
    position: relative;
}

.sales__container .slick-list {
    padding: 50px 0;
}


a.all-sales {
    margin-right: 50px;
    transition: .3s;
}

a.all-sales:hover {
    color: $green;
}

.sale__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.sale__item {
    position: relative;
    width: 23%;
    min-height: 400px;
    border-radius: 20px;
    box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.1);
    transition: .3s;
    margin-bottom: 30px;
    margin-right: 2%;
}

.sale__list-slider .sale__item {
    margin-right: 0%;
}

.sale__item:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.sale__item a {
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.sale__item img {
    height: 250px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.sale__item-info {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: #fff;
    padding: 20px;
    border-radius: 0 0 20px 20px;
    height: 150px;
}

.sale__item-info p {
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: $dark;
}

.sale__list-slider .sale__item-info p {
    font-size: 18px;
}

p.date-sale {
    font-size: 14px;
    position: absolute;
    bottom: 25px;
    left: 25px;
}

.read-more_sale {
    position: absolute;
    bottom: 30px;
    right: 20px;
}

.read-more_sale a {
    position: relative;
}

.sale__list-slider {
    margin: 0 -20px;
}

.sale__list-slider .slick-slide {
    margin: 0 20px;
}


@media screen and (max-width: 1440px) {

    .sale__item {
        min-height: 250px;
    }

    .sale__item img {
        height: 200px;
    }

    .sale__item-info p {
        font-size: 14px;
    }

    p.date-sale {
        bottom: 30px;
    }

    .sale__list-slider .sale__item-info {
        height: 160px;
    }

    .sale__list-slider .sale__item-info p {
        font-size: 16px;
    }

}

@media screen and (max-width: 1200px) {
    .sale__item {
        width: 31%;
        margin-right: 2%;
    }
}

@media screen and (max-width: 992px) {
    .sales-home {
        overflow: hidden;
    }
    .sale__item {
        width: 47%;
        margin-right: 3%;
    }
}

@media screen and (max-width: 670px) {

    .sales-home {
        padding: 40px 0;
    }
    
    .sales-home .sales__container .slick-list {
        padding: 30px 0 20px 0;
    }

}

@media screen and (max-width: 620px) {

    .sales-home h2 {
        text-align: center;
    }

}


@media screen and (max-width: 576px) {

    .sale__item {
        width: 100%;
        margin-right: 0;
    }

}


//-----------------------О КОМПАНИИ-------------------------

.about-home {
    position: relative;
    background: #395931;
    padding: 80px 0;
}

.about-home h2 {
    color: #f7f7f7;
    text-align: center;
    margin: 0;
}

.about-home p {
    color: #f7f7f7;
}

.statistic__row {
    display: flex;
    flex-wrap: wrap;
    margin: 80px 0;
}

.statistic__col {
    margin-right: 10%;
}

p.statistic-title {
    font-weight: 600;
    font-size: 100px;
    margin-bottom: 10px;
}

.about__info {
    position: relative;
    z-index: 9;
    width: 50%;
}

.about__info p {
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 50px;
}

a.read-more_about {
    position: relative;
    color: #f7f7f7;
    font-weight: 600;
}

a.read-more_about::after {
    content: '';
    background: url(/static/images/general/next.svg) no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 110%;
    top: 3px;
    transition: .3s;
}

a.read-more_about:hover::after {
    left: 115%;
}

img.about-top {
    position: absolute;
    top: 0;
    right: 10%;
}

img.about-bottom {
    position: absolute;
    bottom: 0;
    right: 10%;
}

@media screen and (max-width: 1440px) {
    .about__info {
        width: 60%;
    }
    img.about-top {
        right: 5%;
        max-width: 15%;
    }
    img.about-bottom {
        right: 5%;
        max-width: 30%;
    }
}

@media screen and (max-width: 1200px) {
    .about-home {
        overflow-x: hidden;
    }
    img.about-top {
        right: 5%;
        max-width: 20%;
    }
    img.about-bottom {
        right: -15%;
        max-width: 50%;
    }
}

@media screen and (max-width: 992px) {

    .about-home h2 {
        text-align: left;
        font-size: 36px;
    }

    .statistic__row {
        margin: 40px 0;
    }

    p.statistic-title {
        font-size: 52px;
        margin-bottom: 0;
    }

    .about__info {
        width: 70%;
    }

    .about__info p {
        font-size: 16px;
        margin-bottom: 30px;
    }

    img.about-top {
        max-width: 15%;
    }

    img.about-bottom {
        right: -10%;
        max-width: 40%;
    }

}

@media screen and (max-width: 768px) {

    img.about-top {
        max-width: 25%;
    }

    img.about-bottom {
        right: -42%;
        max-width: 75%;
    }

    .about__info p {
        font-size: 14px;
        margin-bottom: 20px;
    }

}

@media screen and (max-width: 576px) {

    .about-home {
        padding: 40px 0;
    }

    .about-home h2 {
        text-align: left;
        font-size: 26px;
    }

    .statistic__row {
        margin: 25px 0;
    }

    .statistic__col {
        margin-right: 5%;
    }

    .statistic__col p {
        font-size: 14px;
    }

    p.statistic-title {
        font-size: 36px;
        margin-bottom: 0;
    }  

    .about__info {
        width: 100%;
    }

    img.about-top {
        max-width: 15%;
    }

    img.about-bottom {
        right: -15%;
        max-width: 45%;
    }

}


//-----------------------ДОСТАВКА И СБОРКА-------------------------

.delivery {
    padding: 80px 0 20px 0;
}

.delivery h2{
    text-align: center;
    margin: 0;
}

.delivery__row {
    padding: 60px 0;
}

.delivery__col {
    display: flex;
    align-items: center;
    padding: 0 20%;
}

.delivery__col:nth-child(2n) {
    justify-content: flex-end;
}

.delivery__col p {
    line-height: 150%;
}

.delivery__col img {
    margin-right: 40px;
}

.delivery__col img:nth-child(2n) {
    margin-left: 40px;
}


@media screen and (max-width: 1440px) {
    .delivery {
        padding: 80px 0 0 0;
    }
    .delivery__col {
        padding: 3% 15% 3% 15%;
    }
    .delivery__col img {
        width: 128px;
    }
}

@media screen and (max-width: 1200px) {
    .delivery__col {
        padding: 3% 5% 3% 5%;
    }
}

@media screen and (max-width: 992px) {
    .delivery__col {
        padding: 2% 4% 2% 4%;
    }
    .delivery__col img {
        width: 92px;
    }    
}

@media screen and (max-width: 768px) {
    .delivery__col {
        padding: 0;
        text-align: center;
        flex-flow: column;
        margin-bottom: 50px;
    }
    .delivery__col img {
        width: 128px;
        margin-bottom: 10px;
        margin-right: 0; 
    }
    .delivery__col img:nth-child(2n) {
        margin-left: 0;
        order: 1;
    }
    .delivery__col p {
        order: 2;
    }
}

@media screen and (max-width: 576px) {
    .delivery {
        padding: 40px 0 0 0;
    }
    .delivery__row {
        padding: 20px 0;
    }
    .delivery__col {
        margin: 25px;
    }
    .delivery__col img {
        width: 92px;
    }
    .delivery__col p {
        font-size: 16px;
    }
    .delivery__col br {
        display: none;
    }
}

//-----------------------Отзывы на главной-------------------------

.reviews-slider {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/static/images/general/reviews-bg.jpg) no-repeat;
    padding: 80px 0 100px 0;
}

.reviews-slider h2 {
    color: #f7f7f7;
    text-align: center;
    margin: 0;
}

.review__list_slider {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 60px 0;
}

.review__item_slider {
    width: 32%;
    height: 340px;
    text-align: center;
    padding: 40px 80px;
    transition: .3s;
}

.review__item_slider p {
    color: #f7f7f7;
    font-size: 16px;
    line-height: 150%;
    transition: .3s;
}

p.author-name {
    font-size: 14px;
    margin-top: 20px;
}

.review__item_slider img {
    border-radius: 50%;
    width: 30%;
    margin: 0 auto;
    margin-bottom: 20px;
    transition: .3s;
}


.slick-center .review__item_slider {
    transform: scale(1.3);
}


.nav-reviews {
    width: 100%;
    position: absolute;
    left: 0;
    top: 6%;
}

img.prev-review {
    position: absolute;
    z-index: 9;
    left: 40%;
    top: 140px;
}

img.next-review {
    position: absolute;
    z-index: 9;
    right: 40%;
    top: 140px;
}


.all-reviews {
    text-align: center;
}

@media screen and (max-width: 1536px) {
    .review__item_slider {
        padding: 40px 50px;
    }
}

@media screen and (max-width: 1280px) {

    .review__item_slider {
        padding: 40px 35px;
    }

    .review__item_slider p {
        font-size: 14px;
    }

    p.author-name {
        font-size: 12px;
        margin-top: 10px;
    }

    .slick-center .review__item_slider {
        transform: scale(1.2);
    }

}

@media screen and (max-width: 992px) {

    .review__item_slider {
        padding: 40px 25%;
    }
    .review__item_slider p {
        font-size: 16px;
    }
    p.author-name {
        font-size: 14px;
        margin-top: 15px;
    }
    img.prev-review {
        left: 30%;
        top: 180px;
    }
    img.next-review {
        right: 30%;
        top: 180px;
    }

}

@media screen and (max-width: 576px) {
    .reviews-slider {
        padding: 40px 0 60px 0;
    }
    .review__list_slider {
        padding: 0;
    }
    .review__item_slider {
        padding: 20px 0;
    }
    .nav-reviews {
        display: none;
    }
    .review__list_slider .slick-dots {
        bottom: 20px;
    }
    .review__list_slider .slick-dots li.slick-active button:before {
        opacity: .75;
        color: #fff;
    }
    .review__list_slider .slick-dots li button:before {
        opacity: .25;
        color: #fff;
    }
}


//-----------------------Контакты на главной-------------------------

.contacts {
    padding: 80px 0 150px 0;
}

.contacts__left h2 {
    margin: 0 0 30px 0;
}

.contacts__left p {
    line-height: 150%;
}

.contacts__row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10%;
}

.container-page .contacts__row {
    padding: 0;
}

.contacts__left {
    width: 50%;
}

.contacts__right {
    width: 50%;
    padding: 3% 5% 0 5%;
}

.contacts-line {
    width: 70%;
    height: 1px;
    background: $green;
}

.contact__list {
    margin: 30px 0;
}


.contact__item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.contact__item img {
    max-height: 32px;
    margin-right: 20px;
}

.contact__item p, .contact__item a {
    line-height: 150%;
    font-weight: 500;
    font-size: 21px;
    transition: .3s;
}

.contact__item a:hover {
    color: $green;
}

.contacts__form-block {
    position: relative;
    background: #D9EED3;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.2);
    padding: 40px 0 80px 0;
}

.contacts__form-block h4 {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: $dark;
}

form.contacts-form {
    text-align: center;
}

input.contacts-form__input {
    max-width: 300px;
    width: 100%;
    border: none;
    border-radius: 40px;
    background: #f7f7f7;
    padding: 20px 30px;
    margin: 15px 0;
    font-weight: 500;
    font-size: 18px;
}

input.contacts-form__input::placeholder {
    font-weight: 500;
    font-size: 18px;
}

.contacts-form__submit {
    width: 100%;
    max-width: 300px;
    padding: 20px 30px;
    border-radius: 40px;
    font-size: 18px;
    margin: 15px 0px;
    cursor: pointer;
}

.politic-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    text-align: left;
}

.politic-container span {
    font-size: 14px;
}

.politic-container span a{
    font-size: 14px;
    text-decoration: underline;
}

.contacts__form-block img {
    position: absolute;
    left: -28%;
    bottom: -15%;
}


@media screen and (max-width: 1632px) {

    .contacts__row {
        padding: 0;
    }

    input.contacts-form__input, .contacts-form__submit {
        max-width: 60%;
    }
}

@media screen and (max-width: 1200px) {
    .contacts__right {
        padding: 0;
    }
}

@media screen and (max-width: 992px) {

    .contacts__row {
        align-items: center;
    }

    .contact__item p, .contact__item a {
        font-size: 16px;
    }

    .contacts__form-block {
        padding: 10px 0 45px 0;
    }

    .contacts__form-block h4 {
        font-size: 21px;
    }

    input.contacts-form__input, .contacts-form__submit {
        max-width: 80%;
    }

    .contacts__form-block img {
        left: -30%;
        bottom: -10%;
        width: 50%;
    }

}

@media screen and (max-width: 768px) {

    .contacts {
        padding: 80px 0 50px 0;
    }

    .contacts__left {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .contacts__left h1, .contacts__left h2 {
        width: 100%;
    }

    .contacts__left p {
        width: 100%;
    }

    .contact__list {
        width: 50%;
    }

    .contacts-line {
        display: none;
    }

    .contacts__right {
        width: 100%;
    }

    .contacts__form-block img {
        display: none;
    }

    input.contacts-form__input, .contacts-form__submit {
        max-width: 60%;
    }

    .contacts-map {
        margin-top: 50px !important;
    }
    
}

@media screen and (max-width: 576px) {
    .contacts {
        padding: 40px 0;
    }
    .contacts__row {
        display: block;
    }
    .contact__list {
        width: 100%;
        margin: 10px 0;
    }
    .contact__item p, .contact__item a {
        font-size: 21px;
    }
    .contacts-line {
        display: block;
        width: 100%;
    }
    input.contacts-form__input, .contacts-form__submit {
        max-width: 80%;
    }
}

@media screen and (max-width: 340px) {
    .contacts__left p {
        font-size: 14px;
    }
    .contact__item p, .contact__item a {
        font-size: 18px;
    }
    .contacts__form-block h4 {
        font-size: 18px;
    }
    input.contacts-form__input {
        padding: 15px 20px;
        font-size: 16px;
    }
    input.contacts-form__input::placeholder {
        font-size: 16px;
    }
    .contacts-form__submit {
        padding: 15px 20px;
        font-size: 16px;
    }
    .politic-container span {
        font-size: 10px;
    }
    .politic-container span a {
        font-size: 10px;
        text-decoration: underline;
    }
}