.catalog
    .container
        ul.breadcrumbs
            li
                a(href="/") Главная /
            li.active Каталог
        h1 Каталог
        .category__row
            .category__item.category__item_big
                h3 Теплицы
                img(src="/static/images/general/Prestizh.png", alt="")
                a(href="/catalog-2.html")
                a.read-more.read-more_category(href="/catalog-2.html") Перейти
            .category__item.category__item_big
                h3 Беседки
                img(src="/static/images/general/gazebo.png", alt="")
                a(href="/catalog-2.html")
                a.read-more.read-more_category(href="/catalog-2.html") Перейти
            .category__item.category__item_small
                h3 Детские<br>площадки
                img(src="/static/images/general/playground.png", alt="")
                a(href="/catalog-2.html")
                a.read-more.read-more_category(href="/catalog-2.html") Перейти
            .category__item.category__item_small
                h3 Товары<br>для сада
                img(src="/static/images/general/tools.png", alt="")
                a(href="/catalog-2.html")
                a.read-more.read-more_category(href="/catalog-2.html") Перейти
            .category__item.category__item_small
                h3 Материалы<br>для беседок<br>и теплиц
                img(src="/static/images/general/materials.png", alt="")
                a(href="/catalog-2.html")
                a.read-more.read-more_category(href="/catalog-2.html") Перейти