.catalog
    .container-page
        ul.breadcrumbs
            li
                a(href="/") Главная /
            li
                a(href="/catalog.html") Каталог /
            li.active Теплицы
        h1 Теплицы
        .subcategory-row
            .subcategory-row__item
                img(src="/static/images/general/product.png", alt='Теплицы "Агросфера"')
                a.subcategory-link(href="/catalog-detail.html")
                    h2 Теплицы "Агросфера"
                    span.read-more.read-more__subcategory Перейти
            .subcategory-row__item
                img(src="/static/images/general/product.png", alt='Теплицы "Агросфера"')
                a.subcategory-link(href="/catalog-detail.html")
                    h2 Теплицы "Агросфера"
                    span.read-more.read-more__subcategory Перейти
            .subcategory-row__item
                img(src="/static/images/general/product.png", alt='Теплицы "Агросфера"')
                a.subcategory-link(href="/catalog-detail.html")
                    h2 Теплицы "Агросфера"
                    span.read-more.read-more__subcategory Перейти
