.catalog
    .container
        .catalog-container
            .sidebar-left
                .search_wrap
                    form(role="search" class="search-form" action="rezultatyi-poiska.html" method="get")
                        .form-group
                            input(name="search" id="search" class="search-input form-control" type="search" placeholder="Поиск...")
                            input(type="submit" class="search-submit" value="")
                            input(type="hidden" name="id" value="115")
                .category-sidebar
                    ul
                        li
                            img(src="/static/images/general/greenhouse-icon.png", alt="Теплицы")
                            a(href="/catalog-2.html") Теплицы
                        li
                            img(src="/static/images/general/playground-icon.png", alt="Детские площадки")
                            a(href="/catalog-2.html") Детские площадки
                        li
                            img(src="/static/images/general/arbor-icon.png", alt="Беседки")
                            a(href="/catalog-2.html") Беседки
                        li
                            img(src="/static/images/general/boards-icon.png", alt="Материалы")
                            a(href="/catalog-2.html") Материалы для беседок и теплиц
                        li
                            img(src="/static/images/general/tools-icon.png", alt="Товары для сада")
                            a(href="/catalog-2.html") Товары для сада
            .catalog-content
                ul.breadcrumbs
                    li
                        a(href="/") Главная /
                    li
                        a(href="/catalog.html") Каталог /
                    li
                        a(href="/catalog-2.html") Теплицы /
                    li.active Теплицы "Агросфера"
                h1 Теплицы "Агросфера"
                .catalog__list
                    .catalog__item
                        .catalog__item-img
                            a(href="/product.html")
                                img(src="/static/images/general/product.png", alt="")
                        .catalog__item-info
                            a(href="/product.html")
                                .catalog__item-title(data-item-name="Теплица “Стандарт” СПК стандарт 4мм")
                                    h3 Теплица “Стандарт” СПК стандарт 4мм
                                .catalog__item-subtitle
                                    p Оцинкованная труба 20х20, СПК стандарт 4мм
                            .catalog__item-price
                                .actual-price
                                    p от <span>10000</span> руб.
                                .old-price
                                    p от 15000 руб.
                            .catalog__item-order(data-item-link="https://www.meduza-web.ru/")
                                a.btn.btn-catalog(href="/product.html") Подробнее
                                a.btn.btn-order(href="#" data-fancybox data-src="#buy1click") Заказать
                    .catalog__item
                        .catalog__item-img
                            a(href="/product.html")
                                img(src="/static/images/general/product.png", alt="")
                        .catalog__item-info
                            a(href="/product.html")
                                .catalog__item-title(data-item-name="Теплица “Стандарт” СПК стандарт 4мм")
                                    h3 Теплица “Стандарт” СПК 
                                .catalog__item-subtitle
                                    p Оцинкованная труба 20х20, СПК стандарт 4мм
                            .catalog__item-price
                                .actual-price
                                    p от <span>10000</span> руб.
                                .old-price
                                    p от 15000 руб.
                            .catalog__item-order(data-item-link="https://www.meduza-web.ru/")
                                a.btn.btn-catalog(href="/product.html") Подробнее
                                a.btn.btn-order(href="#" data-fancybox data-src="#buy1click") Заказать
                    .catalog__item
                        .catalog__item-img
                            a(href="/product.html")
                                img(src="/static/images/general/product.png", alt="")
                        .catalog__item-info
                            a(href="/product.html")
                                .catalog__item-title(data-item-name="Теплица “Стандарт” СПК стандарт 4мм")
                                    h3 Теплица “Стандарт” СПК стандарт 4мм
                                .catalog__item-subtitle
                                    p Оцинкованная труба 20х20, СПК стандарт 4мм
                            .catalog__item-price
                                .actual-price
                                    p от <span>10000</span> руб.
                                .old-price
                                    p от 15000 руб.
                            .catalog__item-order(data-item-link="https://www.meduza-web.ru/")
                                a.btn.btn-catalog(href="/product.html") Подробнее
                                a.btn.btn-order(href="#" data-fancybox data-src="#buy1click") Заказать
                    .catalog__item
                        .catalog__item-img
                            a(href="/product.html")
                                img(src="/static/images/general/product.png", alt="")
                        .catalog__item-info
                            a(href="/product.html")
                                .catalog__item-title(data-item-name="Теплица “Стандарт” СПК стандарт 4мм")
                                    h3 Теплица “Стандарт”
                                .catalog__item-subtitle
                                    p Оцинкованная труба 20х20, СПК стандарт 4мм
                            .catalog__item-price
                                .actual-price
                                    p от <span>10000</span> руб.
                                .old-price
                                    p от 15000 руб.
                            .catalog__item-order(data-item-link="https://www.meduza-web.ru/")
                                a.btn.btn-catalog(href="/product.html") Подробнее
                                a.btn.btn-order(href="#" data-fancybox data-src="#buy1click") Заказать
                    .catalog__item
                        .catalog__item-img
                            a(href="/product.html")
                                img(src="/static/images/general/product.png", alt="")
                        .catalog__item-info
                            a(href="/product.html")
                                .catalog__item-title(data-item-name="Теплица “Стандарт” СПК стандарт 4мм")
                                    h3 Теплица “Стандарт”
                                .catalog__item-subtitle
                                    p Оцинкованная труба 20х20, СПК стандарт 4мм
                            .catalog__item-price
                                .actual-price
                                    p от <span>10000</span> руб.
                                .old-price
                                    p от 15000 руб.
                            .catalog__item-order(data-item-link="https://www.meduza-web.ru/")
                                a.btn.btn-catalog(href="/product.html") Подробнее
                                a.btn.btn-order(href="#" data-fancybox data-src="#buy1click") Заказать
                    .catalog__item
                        .catalog__item-img
                            a(href="/product.html")
                                img(src="/static/images/general/product.png", alt="")
                        .catalog__item-info
                            a(href="/product.html")
                                .catalog__item-title(data-item-name="Теплица “Стандарт” СПК стандарт 4мм")
                                    h3 Теплица “Стандарт”
                                .catalog__item-subtitle
                                    p Оцинкованная труба 20х20, СПК стандарт 4мм
                            .catalog__item-price
                                .actual-price
                                    p от <span>10000</span> руб.
                                .old-price
                                    p от 15000 руб.
                            .catalog__item-order(data-item-link="https://www.meduza-web.ru/")
                                a.btn.btn-catalog(href="/product.html") Подробнее
                                a.btn.btn-order(href="#" data-fancybox data-src="#buy1click") Заказать